---
pageable: true
per_page: 5
---
.row.content.articles-list
  .large-12.columns
    - page_articles.each do |article|

      %article{ itemscope: true, itemType: "http://schema.org/BlogPosting" }

        .row
          %header.large-12.columns
            %h1{ itemprop: "headline" }
              = link_to article.title, article

        .row
          %section.main.large-9.columns{ itemprop: "description" }
            -# Auto generate article summery if one is not provided.
            - if article.data[:summary]
              %p
                = article.data[:summary]
            - else
              = article.summary

            = link_to 'continue reading &#8594;', article

          %aside.large-3.columns
            .row.date-time
              .large-12.columns
                %ul.inline-list
                  %li
                    %time{ itemprop: "datePublished", datetime: article.date.strftime('%Y-%m-%d %H:%M:%S%:z') }
                      = article.date.strftime('%B %e, %Y')
            - if article.data.key?("category")
              .row.category
                .large-12.columns
                  %ul.inline-list
                    %li
                      = link_to article.data[:category], category_path(article.data[:category])
            - if !article.tags.empty?
              .row.tags
                .large-12.columns
                  %ul.inline-list
                    - article.tags.each do |tag|
                      %li
                        = link_to "##{tag}", tag_path(tag)


    -# Not Cool! :(
    = partial "partials/pagination", :locals => { paginate: paginate, num_pages: num_pages, page_number: page_number, prev_page: prev_page, next_page: next_page}

-# Not sure what to do with the sidebar yet!

  %aside.large-3.columns.sidebar.hide
    .row.newsletter
      .large-12.columns
        %h3 Join My Newsletter
        %p Why should you join my newsletter you ask?
    .row.subscribe-via
      .large-12.columns
        %strong Subscribe
        %ul
          %li RSS
    .row.categories
      .large-12.columns
        %strong Categories
        %ul
          %li Working..
        %hr
        %p.text-center
          = link_to "View All Categories", "/articles/categories"
    .row.tags
      .large-12.columns
        %strong Tags
        = partial "partials/tags"
        %hr
        %p.text-center
          = link_to "View All Tags", "/articles/tags"
